
/* BODY */

body{
    background-image: url("../images/gravel.png");
}

.container{
    border-style: solid;
    border-width: 2px;
    border-color: #999;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 4em;
    background-color: white;
}

h2{
    color: #4aaaa5;
    border-bottom-color: #999;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding: 1em 0em 1em 0em;
    margin-bottom: 1em;

}

/* NAVBAR */
div img{
  margin-right: 1em;
}
.nav{
    background-color: white;
    border-bottom-color: #999;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 0px;
    width: 100%;
}

a.nav-link{
    color: white;
    background-color: white;
    text-align: center;
}

.nav-link{
  text-align: center;
}
.navbar-brand{
    color: white;
    background-color: #4aaaa5;
    padding: 0;
    margin: 0;
}
.nav.flex-row a,.nav.flex-row:visited{
    
    color: #999;
    background-color: white;
}

.flex-fill{
    background-color: white;
}

.myName{
    margin-left: 8%;
    padding-left: 20px;
    padding-right: 20px;
}

a:hover{
  color: white;
  background: #4aaaa5;
}

/* IMAGE */

img{
    float: left;
}

/* PORTFOLIO */
.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 20px 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    height: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  .div.work.img{
    margin-left: auto;
  }
  .nav.nav.flex-row{
    justify-content: center;
  }
 a.nav-link:hover{
  color: white;
  background: #4aaaa5;
}

  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

/* CONTACT */

#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }

/* FOOTER */

footer{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    bottom: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 640px){
    .myName{
        width: 100%;
        margin-left: 0;
    }
    .container{
        width: 100%;
    }

    p{
        margin: 0em 1em 0em 1em;
    }   
    img{
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }
    a{
      text-align: left;
      align-content: left;
    }
}


